<footer>
<h3>Kaara Korjaamo 21</h3><br>
<p>Korjaamon kuja 12, 12345 Kujala • Puh. (00) 123 456 • kaara.korjaamo@esimerkki.fi</p>
<p>Seuraa meitä somessa!</p>


<img src='/img/facebook-fill-svgrepo-com.svg' alt='Facebook logo' style='width:50px;height:50px;'>
<img src='/img/instagram-svgrepo-com.svg' alt='Instagram logo' style='width:50px;height:50px;'>
<img src='/img/pinterest-svgrepo-com.svg' alt='Pinterest logo' style='width:50px;height:50px;'>
<img src='/img/tiktok-svgrepo-com.svg' alt='TikTok logo' style='width:50px;height:50px;'>

</footer>