<footer>
  <div class="column">
    <address>
    Kaara Korjaamo 21 <br>
    Korjaamon kuja 12 <br>
    12121212 Kujala <br>
    +123456789<br>
    kaara.korjaamo@esimerkki.fi <br>
    </address>
    </div>
    <div class="column"></div>
    Seuraa meitä somessa!<br>
    <img src="/img/facebook-fill-svgrepo-com.svg" alt="Facebook logo" style="width:50px;height:50px;"><br>
    <img src="/img/whatsapp-fill-svgrepo-com.svg" alt="Whatsapp logo" style="width:50px;height:50px;"><br>
  </div>
</footer>