<header>
    <h1>Kaara Korjaamo 21</h1>
    <nav>
        <ul>
            <li><a href="/">Etusivu</a></li>
            <li><a href="/services">Palvelut</a></li>
            <li><a href="/aboutus">Meistä</a></li>
            <li><a href="/login">Omat Varaukset</a></li>
        </ul>
    </nav>
</header>