<header>
    <h1>Kaara Korjaamo 21</h1>
    <nav>
        <ul>
            <li><a href='/'>Etusivu</a></li>
            <li><a href='/appointmentBooker'>Varaa aika!</a></li>
            <li><a href='/login'>Omat Varaukset</a></li>
            <li><a href='/adminLogin'>Admin login</a></li>
        </ul>
    </nav>
</header>