<!DOCTYPE html>
<html lang="fi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href="/img/car-svgrepo-com.svg" sizes="32x32">
    <link rel="stylesheet" href="/css/style.css">
    <title>Kaara Korjaamo 21</title>
</head>
<body>
<div class="page-wrapper">

    {{> header }}

    <main class="content">
        {{{ body }}}
    </main>

    {{> footer }}
</div>
</body>
</html>
