<h1>Tervetuloa Autokorjaamolle!</h1>

<p>Varaa aika huoltoon tai tarkista palvelumme.</p>

<nav>
    <ul>
        <li><a href="/mekaanikot">Katso Mekaanikot</a></li>
        <li><a href="/palvelut">Palvelut</a></li>
        <li><a href="/varatutajat">Varatut Ajat</a></li>
    </ul>
</nav>