<div class="main-content">
<h1>Tervetuloa Kaara Korjaamon nettisivuille!</h1>

<p>Varaa aika huoltoon tai tarkista tarkistele tilaustasi.</p>
<p>Tässä näkyy kaikki palvelut mitä tarjoamme.</p>
  <ul>
    {{#each services}}
      <li>{{this.nimi}} – {{this.hinta_euro}}€ (kesto: {{this.kesto_min}} min)</li>
    {{/each}}
  </ul>
</div>