<div class="main-content">
<h1>Tervetuloa Kaara Korjaamon nettisivuille!</h1>

<p>Varaa aika huoltoon tai tarkista tarkistele tilaustasi.</p>

<table>
  <caption>Tarjoamamme palvelut</caption>
  <thead>
    <tr>
      <th>Palvelu</th>
      <th>Hinta</th>
      <th>Kesto</th>
    </tr>
  </thead>
  <tbody>
    {{#each services}}
    <tr>
      <td>{{this.nimi}}</td>
      <td>{{this.hinta_euro}}€</td>
      <td>{{this.kesto_min}} min</td>
    </tr>
    {{/each}}
  </tbody>
</table>
</div>