<h2>Kirjaudu sisään</h2>

<form action="/login" method="POST">
  <label for="ticket">Enter your Ticket ID:</label>
  <input type="text" name="ticketId" required />
  <button type="submit">Check</button>
</form>