<h1>Varaus onnistui</h1>
<div class="main-content">
<section role="alert" aria-live="assertive">
  <p>Kiitos ajan varaamisesta, {{name}}!</p>

  <p><strong>Varauskoodisi on:</strong> {{ticketCode}}</p>

  <p>
    Lähetimme vahvistuksen sähköpostiin: <strong>{{email}}</strong>.<br>
    Säilytä varauskoodisi, jotta pääset muokkaamaan tai perumaan varaustasi.
  </p>

  <p>
    Muistathan, että peruutukset ja muokkaukset tulee tehdä 
    <strong>24 tuntia ennen</strong> varauksen ajankohtaa.
  </p>

  <p>Vikatilanteissa olethan meihin yhteydessä puhelimitse tai sähköpostilla.</p>
</section>

<a href='/' class="button">Takaisin etusivulle</a>
</div>